*{
       margin:20px;
       padding:10px;
    }
    .container{
     background-color:red;
     height:1000px;
     width:1000px;
     display: flex;
     flex-direction:row;
     justify-content:space-evenly;
     align-items: center;
    }
    .box{
      color:crimson;
      background-color:floralwhite;
      height:100px;
      width:100px;
      text-align: center;
      text-decoration: underline;
      text-decoration-style: double;
      text-decoration-color: black;
      text-transform: lowercase;
      text-shadow: lightsalmon;
      font-size:20px;
      font-style:italic;
      font-weight: bold;
      margin:10px;
      border:3px solid black;
      border-radius: 10px;
      box-sizing: content-box;
    }

    #box1{
      align-self:flex-end;
    }
    #box2{
      flex-shrink: 4;
    }
    #box3{
      flex-grow: 4;
    }
    #box4{
      align-self: flex-start;
    }